In [1]:
import pandas as pd

# Load auth logs
df = pd.read_csv("../data/auth_logs.csv")
df.head()

             timestamp username    source_ip status        location
0  2025-07-21 10:00:00    alice  192.168.1.5   FAIL  United Kingdom
1  2025-07-21 10:00:10    alice  192.168.1.5   FAIL  United Kingdom
2  2025-07-21 10:00:20    alice  192.168.1.5   FAIL  United Kingdom
3  2025-07-21 10:00:30    alice  192.168.1.5   FAIL  United Kingdom
4  2025-07-21 10:00:40    alice  192.168.1.5   FAIL  United Kingdom